html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
}

#header {
    text-align: center;
    height: 10%;
}

#nav {
    margin: 15px 0;
    height: 2.5%;
}

#nav a {
    margin: 20px;
}

#footer {
    text-align: center;
    height: 10%;
}

#content {
    text-align: center;
    height: 60%;
}
